.footer {
  display: flex;
  flex-direction: column;
  background-color: #235853;
  padding: 20px;
}
.containerfooter {
  display: flex;
  padding: 0 20px; /* Espace égal à gauche et à droite */
  align-items: center; /* Alignement vertical centré */
  background-color: #D4921A;
  border-radius: 10px;
  width: 800px;
  height: 80px;
  margin: auto;
  justify-content: center;
  box-shadow: 8px 10px 15px 5px rgba(0, 0, 0, 0.2);
  p {
    color: white;
    font-weight: bold;
    padding-right: 10px;
  }
  button {
    background-color: #5d3b95;
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 7px;
  cursor: pointer;
  }
}


.logo-containerfooter {
  margin-bottom: 10px;
  flex-direction: column;
  margin-left: 100px;
}

.logofooter {
  width: 140px;
  padding-right: 10px; /* Espace entre le logo et les pictogrammes */
}

.picto-containerfooter {
  color: white;
  font-size: 30px;
  padding-left: 20px;
  padding-top: 10px;
}

.centered-textfooter {
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 600px) {
  .containerfooter {
    width: 500px;
    height: 80px;
    margin: auto;
    justify-content: center;
    p {
      color: white;
      font-weight: bold;
      padding-right: 10px;
    }
    button {
      background-color: #5d3b95;
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 7px;
    cursor: pointer;
    }
  }
}