.footer {
  display: flex;
  flex-direction: column;
  background-color: #235853;
  padding: 20px;
}

.containerfooter {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #D4921A;
  border-radius: 10px;
  width: 602px;
  height: 80px;
  margin-top: -40px;
  left: 30%;
  box-shadow: 8px 10px 15px 5px rgba(0, 0, 0, 0.2);
}

.containerfooter p {
  color: white;
  font-weight: bold;
  padding-right: 10px;
  margin-bottom: 0;
}

.containerfooter button {
  background-color: #5d3b95;
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 0;
}

.logo-containerfooter {
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
}

.logofooter {
  width: 140px;
  padding-right: 10px; /* Espace entre le logo et les pictogrammes */
  margin: auto;
}

.picto-containerfooter {
  color: white;
  font-size: 30px;
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.centered-textfooter {
  margin-top: 5%;
  font-size: 18px;
  color: white;
  text-align: center;
}
@media only screen and (max-width: 1010px) {
  .containerfooter {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #D4921A;
    border-radius: 10px;
    width: 552px;
    height: 80px;
    margin-top: -40px;
    left: 25%;
  }
}
@media only screen and (max-width: 800px) {
  .containerfooter {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #D4921A;
    border-radius: 10px;
    width: 452px;
    height: 70px;
    margin-top: -40px;
    left: 20%;
  }
  .containerfooter p {
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    padding-right: 10px;
    margin-bottom: 0;
  }
  
  .containerfooter button {
    background-color: #5d3b95;
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 0;
  }
  .centered-textfooter {
    margin-top: 5%;
    font-size: 13px;
    color: white;
    text-align: center;
  }
  .logofooter {
    padding-top: 20px;
    width: 70px;
    margin: auto;
    padding-left: 25px; /* Espace entre le logo et les pictogrammes */
  }
  .logo-containerfooter {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .picto-containerfooter {
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 600px) {
  .containerfooter {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 0.7em;
    margin-top: -15px;
    left: 15%;
  }
    .containerfooter {
      width: 400px;
      height: auto;
    }
  .containerfooter button {
    background-color: #5d3b95;
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 0;
    font-size: 0.9em;
  }
  
  .logo-containerfooter {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .centered-textfooter {
    margin-top: 5%;
    font-size: 10px;
    color: white;
    text-align: center;
  }
  .logofooter {
    width: 140px;
    margin: auto;
    padding-right: 10px; /* Espace entre le logo et les pictogrammes */
  }

  .picto-containerfooter {
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
