.footer {
  display: flex;
  flex-direction: column;
  background-color: #235853;
  padding: 20px;
}

.containerfooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #D4921A;
  border-radius: 10px;
  width: 800px;
  height: 80px;
  margin: auto;
  box-shadow: 8px 10px 15px 5px rgba(0, 0, 0, 0.2);
}

.containerfooter p {
  color: white;
  font-weight: bold;
  padding-right: 10px;
  margin-bottom: 0;
}

.containerfooter button {
  background-color: #5d3b95;
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 0;
}

.logo-containerfooter {
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
}

.logofooter {
  width: 140px;
  padding-right: 10px; /* Espace entre le logo et les pictogrammes */
  margin: auto;
}

.picto-containerfooter {
  color: white;
  font-size: 30px;
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.centered-textfooter {
  font-size: 18px;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .containerfooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D4921A;
    border-radius: 10px;
    padding: 20px;
  }
  
  .containerfooter p,
  .containerfooter button {
    flex: 1 1 100%;
    text-align: center; /* Centrer le texte */
  }
  
  @media only screen and (max-width: 600px) {
    .containerfooter {
      width: 100%;
      height: auto;
    }
  }
  
  .logo-containerfooter {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  

  .logofooter {
    width: 140px;
    margin: auto;
    padding-right: 10px; /* Espace entre le logo et les pictogrammes */
  }

  .picto-containerfooter {
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
