span {
  border-bottom: solid 3px;
  border-color: #D4921A;
  padding-bottom: 2px;
    }
.txt   {
      border: none;
      padding-left: 10px;
    }
.txt2   {
      border: none;
      padding-left: 25px;
    }

.container {
  display: flex;
  align-items: center;
}

.image-container-avantages {
  position: relative;
}

.rounded-image {
  width: 900px;
  height: 900px;
  
}

.card-container {
  display: flex;
  margin-left: -200px;
  padding-left: 90px;
  font-size: 10px;
}

.card {
  width: 200px;
  height: 150px;
  padding-right: 20px;
  padding-left: 50px;
  margin: 0 20px;
  background-color: white;
  box-shadow: 8px 13px 5px 5px #d6d6d6;
  border-radius: 5%  
  
}

.iconee {
  padding-left: 150px;
  width: 50px;
  height: 50px;
}