span {
  border-bottom: solid 3px;
  border-color: #D4921A;
  padding-bottom: 2px;
}

.txt {
  border: none;
}

.txt2 {
  border: none;
}

.containerAvantages {
  display: flex;
  align-items: center;
}

.image-container-avantages {
  position: relative;
}
.text-container-avantages p {
  margin-top: -10px; /* Add this property with a negative value to move the paragraph up */
}
.text-container-avantages h2 {
  margin-left: 100px;
  margin-bottom: 40px;
}
.petitText {
  margin-left: 100px;
}


.rounded-image {
  margin-left: 200px;
  width: 500px;
  height: 500px;
  margin-bottom: 100px;
}

.card-containerAvantages {
  display: flex;
  font-size: 10px;
}

.cardAvantages {
  width: 160px;
  height: 120px;
  padding-right: 20px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 20px;
  background-color: white;
  box-shadow: 8px 13px 5px 5px #d6d6d6;
  border-radius: 5%;
  
}

.card-headerAvantages {
  display: flex; /* Add this property */
  align-items: center;
 h3 {
  margin-right: 10px; /* Add margin to create space between icon and text */
  font-size: 15px;
}
}
.iconee {
  width: 30px;
  height: 30px;
}


.guide {
  width: 50px;
  height: 50px;
  transform: rotate(90deg);

}
.incription {
  color: white;
  background-color: #5d3b95;
  border: none;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 240px;
}