span {
  border-bottom: solid 3px;
  border-color: #D4921A;
  padding-bottom: 2px;
}

.txt {
  border: none;
}

.txt2 {
  border: none;
}

.containerAvantages {
  display: flex;
  align-items: center;
}

.image-container-avantages {
  position: relative;
}

.text-container-avantages h2 {
  margin-left: 100px;
  margin-bottom: 20px;
}

.petitText {
  margin-left: 100px;
  padding-bottom: 20px;
}

.rounded-image {
  margin-left: 100px;
  width: 700px;
  height: 700px;
  margin-bottom: 100px;
}

.card-containerAvantages {
  display: flex;
  font-size: 10px;
}

.cardAvantages {
  width: 160px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 20px;
  background-color: white;
  box-shadow: 8px 13px 5px 5px #d6d6d6;
  border-radius: 5%;
}

.card-headerAvantages {
  display: flex;
  align-items: center;
}

.card-headerAvantages h3 {
  margin-right: 10px;
  font-size: 15px;
}

.iconee {
  width: 30px;
}

.guide {
  width: 50px;
  height: 50px;
  transform: rotate(90deg);
}

.incription {
  font-weight: bold;
  color: white;
  background-color: #5d3b95;
  border: none;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px; /* Ajout de l'espace en bas du bouton */
  margin-left: 220px;
  margin-right: auto; /* Centrage horizontal du bouton */
}
@media (max-width: 1300px) {
.cardAvantages {
  width: 150px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 20px;
  background-color: white;
  box-shadow: 8px 13px 5px 5px #d6d6d6;
  border-radius: 5%;
  }
  .rounded-image {
    margin-left: 100px;
    width: 70%; /* Ajuster la largeur de l'image en pourcentage */
    height: auto; /* Ajuster la hauteur de l'image de manière proportionnelle */
    margin-bottom: 100px;
  }
  .text-container-avantages h2 {
    margin-left: 100px;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .containerAvantages {
    flex-direction: column;
    align-items: center;
  }

  .text-container-avantages h2 {
    margin-left: 0;
    text-align: center;
  }

  .petitText {
    margin-left: 0;
    text-align: center;
  }

  .rounded-image {
    margin-left: 0;
    width: 90%; /* Ajuster la largeur de l'image en pourcentage */
    height: auto; /* Ajuster la hauteur de l'image de manière proportionnelle */
    margin-bottom: 100px;
  }

  .card-containerAvantages {
    flex-wrap: wrap;
    justify-content: center;
  }

  .cardAvantages {
    width: 160px;
    margin: 10px;
  }
}
