@import './mixins';
@import './variables';

.formLogin {
    padding-top: 20px;
    max-width: 45%;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgb(220, 158, 158);
    border-radius: 3%;

}
