.mon-espace {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #235853;
  display: flex;
  align-items: center;
  height: 7vh;
  z-index: 11;
}

.mon-espace a {
  padding: 12px 20px;
  color: white;
  display: flex;
  padding-right: 200px;
  flex-grow: 1;
  text-decoration: none;
  justify-content: flex-end; /* Aligner les éléments à droite */

}

.mon-espace .icon {
  margin-right: 10px;
}

nav {
  position: fixed;
  margin: 0 0.5rem; /* Réduire les marges horizontales */
  font-family: 'Articulat', sans-serif;
  width: 80%;
  margin: auto;
}

nav a {
  color: black;
  margin: auto;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
  float: right;
  padding-right: 20px;

}

header div,
nav {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
}

.nav-active {  
  position: relative;
  background-color: #235853;
  color: white;
  height: 10%;
}

nav a li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 56px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  padding: 10px 10px;
  margin-bottom: 10px;
}

.logo {
  width: 100px;
  height: auto;
  padding-top: 100px;
  padding-left: 50px;
}

nav a {
  text-decoration: none;
  word-wrap: normal;
  flex-wrap: nowrap;
  font-weight: bold;
}

@media only screen and (max-width: 930px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    padding-top: 60px;
  }

  header nav {
    position: absolute;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    transition: 1s;
    background-color: white;
  }

  header .responsive_nav {
    transform: translateY(110vh);
    width: 100%;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 0rem;
  }

  nav a {
    font-size: 1.5rem;
  }
  .mon-espace {
    width: 100%;
  }a {
    padding: 12px 20px;
    color: white;
    display: flex;
    padding-right: 200px;
    flex-grow: 1;
    text-decoration: none;
    justify-content: flex-end; /* Aligner les éléments à droite */
  
  } 
}

@media only screen and (max-width: 630px) {
  .mon-espace {
    width: 100%;
  }a {
    padding: 12px 20px;
    color: white;
    display: flex;
    padding-right: 200px;
    flex-grow: 1;
    text-decoration: none;
    justify-content: flex-end; /* Aligner les éléments à droite */
  
  } 
}
