.containerEquipe {
  display: flex;
  align-items: center;
}

.imageEquipe {
  margin-left: 50px;
  width: 700px;
  height: 700px;
  margin-bottom: 100px;
}

.contentEquipe {
  margin-left: 50px; /* Ajustez la marge selon vos besoins */
  margin-bottom: 250px;
h2 {
  margin-top: 0; /* Ajout de la marge supérieure */
}

p {
  margin-top: 5px; /* Ajout de la marge supérieure */
}
}