.presentation-container {
  width: 100%;
}

.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  transform: scaleX(-1);
  margin-bottom: 100px;
}

.text-container-volontés {
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  h2 {
    font-size: 3.1em;
  span {
    border-bottom: solid 5px;
    border-color: #D4921A;
    padding-bottom: 5px;
      }
     }
  P {
    font-size: 25px;
    max-width: 88%;
  }
  .text-container-volontés button {
    color: white;
    background-color: #5d3b95;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 5px;
  }
}
