.presentation {
  margin-top: 100px;
  position: relative;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 103%;
  background-image: url('../../public/assets/img/Accueil/banniere_Souriante.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  transform: scaleX(-1); /* Inverser l'image horizontalement */
}


.text-container {
  z-index: 1;
}

.text-container-volontésPresentation {
  color: white;
  padding-left: 170px;
}

.text-container-volontésPresentation h2 {
  font-weight: bold;
  font-size: 3.2em;
}

.text-container-volontésPresentation p {
  font-size: 1.7em;
}

.text-container-volontésPresentation button {
  margin-top: 20px;
  background-color: #5d3b95;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 1920px) {
  .presentation a {
    margin-right: 100px;
  }
}

@media only screen and (max-width: 1440px) {
  .presentation a {
    margin-right: 50px;
  }
  .background-image {
    width: 104%;
  }
  .text-container-volontésPresentation h2 {
    font-weight: bold;
    font-size: 2.5em;
  }
  
  .text-container-volontésPresentation p {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 1224px) {
  .background-image {
  width: 105%;
  }
  .text-container-volontésPresentation h2 {
    font-weight: bold;
    font-size: 2em;
  }
  
  .text-container-volontésPresentation p {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 1024px) {
  .presentation a {
    margin-right: 30px;
  }
  .background-image {
    width: 135%;
  }
  .text-container-volontésPresentation h2 {
    font-weight: bold;
    font-size: 2.5em;
  }
  
  .text-container-volontésPresentation p {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 768px) {
  .text-container-volontésPresentation h2 {
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .text-container-volontésPresentation p {
    font-size: 0.9em;
  }
  .background-image {
    width: 135%;
  }
}

@media only screen and (max-width: 480px) {
  .presentation {
    padding-top: 6px;
  }
  .background-image {
    width: 120%;
  }
  .text-container-volontésPresentation h2 {
    font-weight: bold;
    font-size: 1em;
  }
  
  .text-container-volontésPresentation p {
    font-size: 0.8em;
  }
}
