@import './variables';

header {
  position: relative; // Ajouter cette ligne

  .cart-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  
}
  .badge {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $primary-color;
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 50%;
    font-weight: bold;
  }
}